{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">
          Chicago-based full-stack developer.
        </p>
        <p>
          My specialties include Django, Python, React and Javascript.
        </p>
        <a href="#"
           class="btn btn-outline-dark">Contact Me</a>
    </div>
</div>
</div>

{% endblock sidebar %}
