body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #fdfdfd;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.head_text {
    color: white;
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

.name_text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #777;
}

.nav_text {
    font-weight: bold;
}